.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-center {
    justify-content: center;
    margin-block-end: 60px;
}

.wrapper-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.wrapper-col {
    flex-direction: column;
}

@media (max-width: 720px) {
    .wrapper {
        padding-inline: 20px;
        width: 100%;
        flex-direction: column;
        gap: var(--padding-main);
    }

    .wrapper-center {
        margin-block-end: 0;
    }
}