.contacts__list {
    width: 400px;
    padding: var(--padding-main);
    background-color: var(--color-accent-light);
    border-radius: var(--border-radius);
}

.contacts__title{
    margin-block-end: 10px;
    font-family: "Inter-Bold";
    font-size: 24px;
    line-height: 140%;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__form-wrapper {
    display: flex;
    flex-direction: column;
}

.contacts__form-group {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    gap: 30px;
}

.contacts__form-input {
    width: 335px;
    border: none;
    border-block-end: 2px solid var(--color-light-dark);
    margin-block-end: 5px;
    color: var(--color-dark);
    background-color: inherit;
}

.contacts__form-input::placeholder {
    color: var(--color-light-dark);
}

.contacts__form-input:valid {
  border-color: green;
}

.contacts__form-input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.form-textarea {
    margin-block-end: 0;
    width: 100%;
    padding: 20px;
    border: 2px solid var(--color-light-dark);
    resize: vertical;
}

.form-textarea:valid {
    border-color: var(--color-light-dark)
}

.contacts__form-lb {
    display: block;
    margin-block-end: 5px;
    font-family: "Inter-Bold";
    font-size: 20px;
    line-height: 140%;
}

.contacts__form-lb::after {
    content: " *";
    color: red;
}

.contacts__form-val {
    display: block;
    font-size: 12px;
}

.contacts__footer {
    display: flex;
    align-items: center;
    gap: 70px;
}

.contacts__footer p {
    width: 280px;
    font-size: 12px;
    line-height: 140%;
}

.contacts__footer p>a {
    color: var(--color-accent-dark);
    border-block-end: 1px solid var(--color-accent-dark);
}

button[type="submit"]:hover {
    cursor: pointer;
}