@font-face {
    font-family: "Inter-Regular";
    src: local("Inter Regular"), local("Inter-Regular"),
        url("./Inter_18pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Bold";
    src: local("Inter Bold"), local("Inter-Bold"),
        url("./Inter_24pt-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}