.scroll {
    position: fixed;
    top: 50%;
    right: 0%;
    display: flex;
    align-items: center;
    gap: 20px;
    rotate: -90deg;
    color: var(--color-light-dark);
    z-index: 90;
}

.scroll__line {
    width: 215px;
    height: 1px;
    background-color: var(--color-light-dark);
}

@media (max-width: 720px) {
    .scroll {
        display: none;
    }
}