@import url("../fonts/fonts.css");
@import url("../vendor/global.css");
@import url("../blocks/main/button/button.css");
@import url("../blocks/header/header.css");
@import url("../blocks/main/main.css");
@import url("../blocks/footer/footer.css");